kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: '{{ ansible_operator_meta.name }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  serviceName: '{{ ansible_operator_meta.name }}'
  replicas: {{ size }}
  selector:
    matchLabels:
      app: '{{ ansible_operator_meta.name }}'
  template:
    metadata:
      labels:
        app: '{{ ansible_operator_meta.name }}'
    spec:
      containers:
      - name: keycloak
        image: "{{ docker_image }}"
        args: ["start-dev"]
        ports:
          - name: "http"
            containerPort: 8080
            protocol: TCP
        env:
          - name: KEYCLOAK_USER
            value: "{{ keycloak_user }}"
          - name: KEYCLOAK_PASSWORD
            value: "{{ keycloak_password }}"
